body {
    margin: 0;
    padding: 0;
    /* Subimos un nivel para salir de 'css' y entrar a 'imagenes' */
    background-image: url("../imagenes/Login.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: Arial;
}

.main-wrapper {
    display: flex;
    justify-content: flex-end; /* Esto lo mueve a la derecha */
    align-items: center;
    height: 100vh;
    padding-right: 120px;
}

#loginsection {
    width: 400px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    border-right: 10px solid #9f2626; /* Tu barra roja */
    box-shadow: -15px 0px 30px rgba(0, 0, 0, 0.3);
}

.form-title {
    color: #9f2626;
    font-size: 2rem;
    margin-bottom: 20px;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-box input {
    padding: 12px;
    border: none;
    border-bottom: 3px solid #9f2626;
    outline: none;
}

.input-box input:focus {
    border-bottom: 3px solid #1b5e20; /* Cambio a verde al escribir */
}

.submit-btn {
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    border: none;
    background: #9f2626;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.submit-btn:hover {
    background: #1b5e20;
}

.error {
    color: red;
    display: none;
    font-size: 13px;
}